<div>
  <h1>Let's play battleship, <%= session[:name] %>!</h1>
  <p>Player Own</p>
  <pre><%= $game.own_board_view($game.player_1) %></pre>
  <p>Player Opponent</p>
  <pre><%= $game.opponent_board_view($game.player_1) %></pre>
  <form action="gameplay", method="post">
    <input type="text" name="coordinate">
    <input type="submit" value="Fire">
  </form>
</div>

