<div>
  <h1>Welcome to Battleships!</h1>
  <form action="/" method="post">
    <button type="submit">Single Player Mode</button>
    <input type="hidden" name="mode" value="singleplayer">
  </form>
  <form action="/" method="post">
    <button type="submit">Multiplayer Mode</button>
    <input type="hidden" name="mode" value="multiplayer">
  </form>
</div>
