<div>
  <form action="/new_game", method='post'>
    <p>What's your name?</p>
    <input type='text' name='name'>
    <% if session[:mode] == 'multiplayer' %>
      <p>What's your opponent's name?</p>
      <input type='text' name='name2'>
    <% end %>
    <br>
    <br>
    <input type='submit' value='Submit'>
  </form>
</div>

